@charset "utf-8";

/* break-point */
        @media all and (max-width:1200px) {
            body{
                background-color: tomato;
            }
            .btn-close{
            display: none;
            }
            .dimm{
                display: none;
            }
        }

        @media all and (max-width:1024px){
            body{
                background-color: sandybrown;

            }
            .container li{
                width: calc( (100% - 20px) / 3);
            }

            .container li:last-child{
                width: 100%;
            }
        }

        /* mobile */

        @media all and (max-width:764px){
            body{
                background-color: darkcyan;
            }
            .btn_ham{
                display: flex;
            }
            .gnb-container{
                position: fixed;
                right: -310px;
                top: 0;
                height: 100vh;
                width: 300px;
                
            }
            .gnb-container ul{
                display: block;
                height: auto;
                padding-top: 100px;
            }
            
            .btn-close{
                display: block;
            }
        }

        @media all and (max-width:480px){
            body{
                background-color: burlywood;
            }
            .container ul {
                flex-direction: column;
            }
            .container li {
                width: 100%;
            }
            .container li:last-child{
                width: 100%;
            }
        }

        @media all and (max-width:375px){
            body{
                background-color: darkkhaki;
            }
            .container li:last-child{
                display: none;
            }
        }