@charset "utf-8";

body{
    font-family: sans-serif;
}
.card-container{
    margin: 50px auto;
    width: 400px;
    border-radius: 20px;
    border: 1px solid black;
    position: relative;
}

.card-container .thumb{
    height: 250px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    position: relative;
}
.card-container .thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-container .thumb .dimm{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.contents{
    width: 100%;
    padding: 24px 16px;
    position: relative;
}

.contents strong{
    font-size: 24px;
}

.contents p{
    font-size: 1.2em;
    margin: 12px 0;
    text-align: justify;
}

.contents .tag-container{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.contents .tag-container li a{
    background-color: rgba(144, 144, 144, 0.2);
    display: inline-flex;
    align-items: center;
    padding: 6px 16px;
    border-radius: 30px;
    font-size: 1em;
    line-height: 1;   
    min-height: 32px;
}

.contents .tag-container li a:hover{
    background-color: rgba(144, 144, 144, 0.4);
}

.contents .tag-container a::before{
    content: "#";
    margin-right: 4px;
}

.btn_profile{
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 4px solid pink;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 20px;
    translate: 0 -50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    transition: 0.6s;
}

.btn_profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn_profile:hover {
    transform: scale(1.1) rotate(-20deg);
    /* rotate: -20deg;
    scale: 1.1; */
}

.btn_top{
    display: flex;
    width: 70px;
    height: 70px;
    background-color: aquamarine;
    border-radius: 70px;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.dimm{
    z-index: 100;
    opacity: 1;
    position: fixed;
    inset: 0 0 0 0;
    /* 상 우 하 좌 위치 0 */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal{
    z-index: 101;
    position: fixed;
    width: 300px;
    height: 300px;
    background-color: gold;
    left: 50%; top: 50%;
    translate: -50% -50%;
}