@charset "utf-8";

body{
    background-color: #2c2c2c;
    color: white;
    font-family: sans-serif;
}
.container{
    width: 100vw;
    /* 
    vw: viewport width
    vh: viewport height
    100%
    현재 보고 있는 기기의 크기에 맞추는 것
    */
    height: 100vh;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    gap: 36px;
    /* 메인축으로의 정렬 */
    justify-content: center;
    /* 교차축으로의 정렬 */
    align-items: center;
}
img{
    width: 90px;
    /* margin-bottom: 90px; */
}
h1{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    /* 100%는 상속관련 이슈가 생길 수 있어,
    1로 표기 */
}