@charset "utf-8";

body{
    background-color: #2c2c2c;
    color: white;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    width: 375px;
    height: 812px;
    /* border: 1px solid white; */
}
section{
    margin: auto;
    padding: 24px;
    justify-content: center;
    align-items: center;
    
}
img{
    margin-bottom: 24px;
}
h1{
    font-size: 16px;
}