@charset "utf-8"

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    /* 포지션 뒤에 크기속성이 나오면 됨 */
    background: url('../image/google_back.jpg') no-repeat fixed center center / cover;
    text-align: center;
}

.container{
    color: white;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.navbar .navli{
    font-size: 12px;
    text-align: center;
}

.navbar .navtext{
    padding: 0 10px;
}

.navbar .navicon{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin-right: 5px;
}

.navbar .navicon:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar .nav-wrap{
    width: 40px;
    height: 40px;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar .navli:last-child{
    margin-right: 0;
}

.container h1{
    font-size: 80px;
    font-weight: 700;
    margin: 30px 0;
}

.search-bar{
    margin: 0 auto;
    background-color: white;
    width: 600px;
    border-radius: 60px;
    position: relative;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}
.search-bar .sbar{
    width: 100%;
    height: 42px;
    padding-left: 40px;
    background: url('../image/icons/search.svg') no-repeat 10px center / 24px;
}

.search-bar .sbar:focus{
    border-radius: 80ps;
}

.search-bar .s-icon {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 8px;
}

.search-bar .s-icon-mic{
    right: 38px;
}

.search-bar .s-icon-cam{
    right: 10px;
}

.search-bar .s-icon img{
    height: 100%;
}

.card{
    margin: 0 auto;
    padding: 0 40px;
    margin-top: 20px;
    width: 800px;
}

.card .card-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card .card-list li{
    width: 100px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    transition: 0.1s;
    position: relative;
    
}

.card .card-list li:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.card .card-list .icon-wrap{
    background-color: rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card .card-list a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .card-list .icon-wrap img{
    width: 26px;
    object-fit: cover;
}

.card .card-list p{
    font-size: 12px;
    margin-top: 10px;
}

.card .card-list button{
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 16px;
    height: 16px;
    border-radius: 40px;
    opacity: 0;
    transition: 0.1s 0.2s;
}

.card .card-list li:hover button{
    opacity: 1;
}

.card .card-list li button img{
    object-fit: cover;
}