@charset "utf-8";

.all-container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    color: #fff;
}

.all-container .video_container{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
}

.page_header{
    outline: 1px solid red;
    padding: 20px 0;
}

.page_header .navbar .navul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_header .logo{
    font-size: 32px;
    font-weight: 600;
    
}

